@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Upload files to S3 buckets</h2>
    <form method="post" asp-action="Upload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="File">Choose a file to upload:</label>
            <input type="file" name="File" id="File" class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>



